name: docker build scan push

on:
  push:
   branches:
   - main
   - stage
   - test
   - dev

jobs:
  build-and-scan:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          registry: ${{ secrets.REGISTRY_URL }}
          username: ${{ secrets.AWS_ACCESS_KEY_ID }}
          password: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

      - name: Build and push Docker image with scan
        uses: docker/build-push-action@v4
        with:
          context: ./app
          file: Dockerfile
          push: true
          tags: ${{ secrets.REGISTRY_URL }}/fastapi-microservice:latest