name: docker build scan push

on:
  push:
   branches:
   - main
   - stage
   - test
   - dev

jobs:
  build-and-scan:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          registry: ${{ secrets.REGISTRY_URL }}
          username: ${{ secrets.AWS_ACCESS_KEY_ID }}
          password: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

      - name: Build and push Docker image with scan
        uses: docker/build-push-action@v4
        with:
          context: ./app/
          file: ./app/Dockerfile
          push: false
          tags: ${{ secrets.REGISTRY_URL }}/fastapi-microservice:latest

      - name: Run Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@0.33.1
        with:
          image-ref: '${{ secrets.REGISTRY_URL }}/fastapi-microservice:latest'
          format: 'table'
          ignore-unfixed: true
          vuln-type: 'os,library'
          severity: 'CRITICAL,HIGH'