name: Linting
on:
  push:
    branches:
      - main
      - dev
      - test
      - stage
  pull_request:
    branches:
      - main
      - dev
      - test
      - stage
    
jobs:
  linting:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4
      - name: Linting
        run: |
         pylint --recursive=y .