name: pre commit checks

on: 
  push:
    branches:
      - main
      - dev
      - test
      - stage
  pull_request:
    branches:
      - main
      - dev
      - test
      - stage

jobs:
  precommit:
    runs-on: ubuntu-latest
    steps:
     - name: checkout
       uses: actions/checkout@v4
       
