name: secret scanning


on: 
  push:
    branches:
      - main
      - dev
      - test
      - stage
  pull_request:
    branches:
      - main
      - dev
      - test
      - stage

jobs:
  precommit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Secret Scanner
        uses: secret-scanner/action@0.0.2

       
