name: testing

on:
  push:
   branches:
   - main
   - stage
   - test
   - dev
  pull_request:
    types: [opened, synchronize, reopened]
    
jobs:
  unit-tests:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'

      - name: Install Requirements
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install -r requirements-test.txt || true
        working-directory: ./app

      - name: Run Unit Tests
        run: pytest -q --junitxml=reports/junit-unit.xml --cov=app --cov-report=xml:reports/coverage-unit.xml tests/test_unit
        working-directory: ./app

      - name: Upload Test Reports
        uses: actions/upload-artifact@v4
        with:
          name: unit-test-reports
          path: app/reports/*.xml

  integration-tests:
    runs-on: ubuntu-latest
    needs: unit-tests
    steps:
      - name: checkout
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'

      - name: Install Requirements
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install -r requirements-test.txt || true
        working-directory: ./app

      - name: Run Integration Tests
        run: pytest -q --junitxml=reports/junit-integration.xml --cov=app --cov-report=xml:reports/coverage-integration.xml tests/test_integration
        working-directory: ./app

      - name: Upload Test Reports
        uses: actions/upload-artifact@v4
        with:
          name: integration-test-reports
          path: app/reports/*.xml
        