name: testing

on:
  push:
   branches:
   - main
   - stage
   - test
   - dev

jobs:
  pytest:
    runs-on: ubuntu-test
    steps:
      - name: checkout
        uses: actions/checkout@v4
      - name: Install Requirements
        run: pip install -r requirements.txt