name: testing

on:
  push:
   branches:
   - main
   - stage
   - test
   - dev
  pull_request:
    types: [opened, synchronize, reopened]
    
jobs:
  pytest:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4
      - name: Install Requirements
        run: pip install -r requirements.txt
        working-directory: ./app
      - name: Run Tests
        run: pytest
        working-directory: ./app
        continue-on-error: true
        